doctype html
html(ng-app="marre")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
  body

    .header
      h1 Placera mera!
    .container(ng-controller="MainController")

      .panel.panel-success(ng-show="currentYear == 2015")
        .panel-heading SLUT!
        .panel-body Snipp snapp snut.

      .panel.panel-success(ng-show="currentYear == 2001")
        .panel-heading Spelregler
        .panel-body 
          p Året är 2001.
          p Du har fått tre barnbidrag + fler barnstillägg(3150 + 604 = 3754 kr) att placera på börsen.
          p Under dagen förflyttar vi oss genom tiden och du får möjlighet att placera om varje år.
          p.lead Choose wisely!

      .panel.panel-default(ng-show="allData.yearTexts[yearIndex].heading")
        .panel-heading {{currentYear}} - {{ allData.yearTexts[yearIndex].heading }}
        .panel-body {{ allData.yearTexts[yearIndex].description }}

      .panel.panel-default
        .panel-heading Tillgångar {{currentYear}}
        .panel-body
          div Likvida medel:&nbsp;
           strong {{cash}} kr
          div Värde aktieportfölj:&nbsp;
            strong{{portfolioValue()}} kr
          div Totalt:&nbsp;
            strong {{totalValue()}} kr
          div Förändring:&nbsp;
            strong {{ (totalValue() / originalCash) / 100}} %

      h2 Aktielista:
      ul.list-group
        li.list-group-item.stock(ng-repeat="(stock, value) in stocks")
          .stock-title {{stock}}
          .stock-info
            .stock-value Kurs: {{value}} (F. år: {{ previousValue(stock) }} ) 
            .stock-holdings Innehav:&nbsp;
              span.stock-holdings-count <strong>{{ stockHoldingsCount(stock) }}</strong> st&nbsp;
              span.stock-holdings-value till ett värde av <strong>{{ stockHoldingsValue(stock) }}</strong> kr
          .buy-controls
            button.dec.btn.btn-danger(ng-click="decreaseHolding(stock)")
              span.glyphicon.glyphicon-minus
              | Sälj
            button.inc.btn.btn-success(ng-click="increaseHolding(stock)")
              span.glyphicon.glyphicon-plus
              | Köp

      div(ng-show="currentYear < 2015")
        p.lead Glöm inte göra en backup genom att dela sidan!
        button.btn.btn-success.btn-block.next-year(ng-click="nextYear()") Gå till nästa år

    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")


    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    script.
      $(function() {
        FastClick.attach(document.body);
      });
